{% extends "base.html" %}

{% block title %}Master List of Books{% endblock %}

{% block content %}
<h1>Master List of Books</h1>
<table>
    <thead>
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Available Copies</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book['id'] }}</td>
            <td>{{ book['title'] }}</td>
            <td>{{ book['author'] }}</td>
            <td>{{ book['category'] }}</td>
            <td>{{ book['available'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
